.tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:  100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.tablet .tablet__frame {
    width: 100%;
    height: 100%;
    overflow: hidden;;
}

.tablet .tablet__screen {
    width: 1280px;
    height: 720px;
    margin: 0;
    overflow: hidden;
}

@media (min-width: 1920px) {

    .tablet .tablet__frame {
        width: 1446px;
        height: 890px;
        background-image: url('tablet-2020-06-23.png');
        background-repeat: no-repeat;
        background-size: contain;
        }
    
    .tablet .tablet__screen {
        width: 1282px;
        height: 722px;
        margin: 80px 0 0 84px;
    }
}