.vertrag {
    position: absolute;
    background: #fff;
    border: 0.1vw solid #000;
    padding: 1vw;
    width: 40vw;
    height: 47vw;
    left: 29vw;
}
}

.logo {

}

.input1 {
    position: absolute;
    padding: 1vw;
    width: 42vw;
    height: 27vw;
    text-align: center;
    line-height: 1vw;
    font-family: "Arial";
    font-size: 1vw;
    bottom: 1vw;
    left: -17vw;
    top: -780px;
}


.box1 {
    color: #fff;
    position: absolute;
    padding: 1vw;
    width: 1vw;
    height: 1vw;
    text-align: center;
    line-height: 1vw;
    font-family: 'Arial';
    font-size: 1vw;
    bottom: 1vw;
    left: 17vw;
}

.button {
    background: #000;
    color: #fff;
    position: absolute;
    padding: 1vw;
    width: 5vw;
    height: 1vw;
    text-align: center;
    line-height: 1vw;
    font-family: 'Arial';
    font-size: 1vw;
    bottom: 1vw;
    left: 17vw;
}